VITE_FIREBASE_API_KEY=AIzaSyAKB2vXLaBM-6mI1eFAR7Qx6ueM72QPhds
VITE_FIREBASE_AUTH_DOMAIN=employee-management-syst-691f6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=employee-management-syst-691f6
VITE_FIREBASE_STORAGE_BUCKET=employee-management-syst-691f6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=430864630895
VITE_FIREBASE_APP_ID=1:430864630895:web:0e9451fd8c54dc12d1b99a
VITE_FIREBASE_MEASUREMENT_ID=G-ZGSKV2NJ3Z
